version: '3.8'
services:
  auth:
    build: ./auth
    hostname: auth
    container_name: auth
    ports:
      - "9010:9000"
      - "9011:9001"
    links:
      - auth_postgres
    depends_on:
      auth_postgres:
        condition: service_healthy
      broker:
        condition: service_healthy
  auth_postgres:
    image: postgres:16-alpine
    hostname: auth_postgres
    container_name: auth_postgres
    restart: unless-stopped
    volumes:
      - ./auth/.postgres:/var/lib/postgresql/data
    ports:
      - "5442:5432"
    environment:
      POSTGRES_DB: auth
      POSTGRES_USER: base
      POSTGRES_PASSWORD: secret
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d auth -U base" ]
      interval: 2s
      timeout: 60s
      retries: 5

  tracker:
    build: ./tracker
    hostname: tracker
    container_name: tracker
    ports:
      - "9000:9000"
      - "9001:9001"
    links:
      - tracker_postgres
    depends_on:
      tracker_postgres:
        condition: service_healthy
      broker:
        condition: service_healthy
  tracker_postgres:
    image: postgres:16-alpine
    hostname: tracker_postgres
    container_name: tracker_postgres
    restart: unless-stopped
    volumes:
      - ./tracker/.postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: tracker
      POSTGRES_USER: base
      POSTGRES_PASSWORD: secret
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d tracker -U base" ]
      interval: 2s
      timeout: 60s
      retries: 5

  billing:
    build: ./billing
    hostname: billing
    container_name: billing
    ports:
      - "9020:9000"
      - "9021:9001"
    links:
      - billing_postgres
    depends_on:
      billing_postgres:
        condition: service_healthy
      broker:
        condition: service_healthy
  billing_postgres:
    image: postgres:16-alpine
    hostname: billing_postgres
    container_name: billing_postgres
    restart: unless-stopped
    volumes:
      - ./billing/.postgres:/var/lib/postgresql/data
    ports:
      - "5452:5432"
    environment:
      POSTGRES_DB: billing
      POSTGRES_USER: base
      POSTGRES_PASSWORD: secret
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d billing -U base" ]
      interval: 2s
      timeout: 60s
      retries: 5

  analytics:
    build: ./analytics
    hostname: analytics
    container_name: analytics
    ports:
      - "9030:9000"
      - "9031:9001"
    links:
      - analytics_postgres
    depends_on:
      analytics_postgres:
        condition: service_healthy
      broker:
        condition: service_healthy
  analytics_postgres:
    image: postgres:16-alpine
    hostname: analytics_postgres
    container_name: analytics_postgres
    restart: unless-stopped
    volumes:
      - ./analytics/.postgres:/var/lib/postgresql/data
    ports:
      - "5462:5432"
    environment:
      POSTGRES_DB: analytics
      POSTGRES_USER: base
      POSTGRES_PASSWORD: secret
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d analytics -U base" ]
      interval: 2s
      timeout: 60s
      retries: 5

  zookeeper:
    image: confluentinc/cp-zookeeper:5.4.1
    hostname: zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
  broker:
    image: confluentinc/cp-server:5.4.1
    hostname: broker
    container_name: broker
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_METRIC_REPORTERS: io.confluent.metrics.reporter.ConfluentMetricsReporter
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_CONFLUENT_LICENSE_TOPIC_REPLICATION_FACTOR: 1
      CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS: broker:29092
      CONFLUENT_METRICS_REPORTER_ZOOKEEPER_CONNECT: zookeeper:2181
      CONFLUENT_METRICS_REPORTER_TOPIC_REPLICAS: 1
      CONFLUENT_METRICS_ENABLE: 'true'
      CONFLUENT_SUPPORT_CUSTOMER_ID: 'anonymous'
      KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE: 'true'
    healthcheck:
      test: [ "CMD", "kafka-topics", "--bootstrap-server", "broker:9092", "--list" ]
      interval: 2s
      timeout: 20s
      retries: 5
