version: "3.8"
services:
  auth:
    build: .
    hostname: auth
    container_name: auth
    ports:
      - "9010:9000"
      - "9011:9001"
    links:
      - auth_postgres
    depends_on:
      auth_postgres:
        condition: service_started
    networks:
      - my-proxy-net
  auth_postgres:
    image: postgres:16-alpine
    hostname: auth_postgres
    container_name: auth_postgres
    restart: unless-stopped
    volumes:
      - .postgres:/var/lib/postgresql/data
    ports:
      - "5442:5432"
    environment:
      POSTGRES_DB: auth
      POSTGRES_USER: base
      POSTGRES_PASSWORD: secret
networks:
  my-proxy-net:
    external:
      name: unity_network